#slider {
    width: 720px;
    height: 400px;
    overflow: hidden;
    z-index: 1;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 720px;
    height: 400px;
}

#leftArrow {
    width: 5%;
    height: auto;
    position: absolute;
    top: 30%;
    z-index: 3;
}

#rightArrow {
    width: 5%;
    height: auto;
    position: absolute;
    top: 30%;
    right: 50%;
    z-index: 3;
}